section {
  padding: 100px 0;
}

html, body {
  overflow-x: hidden;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333;
  text-align:center;
  display: flex;
  justify-content: center;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

body {
  font-family: "Roboto";
  font-size: 17px;
  font-weight: 400;
  background-color: #eee;
}

h1 {
  font-size: 200%;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 400;
}




/* <!-- header nav ul li a --> */
/* 
header {
  background: #3F51B5;
  color: #FFFFFF;
  padding: 150px 0;
}
header p {
  font-family: "Allura";
  color: rgba(255, 255, 255, 0.2);
  margin-bottom: 0;
  font-size: 60px;
  margin-top: -30px;
} */

.timeline {
  position: relative;
}
.timeline::before {
  content: "";
  background: #C5CAE9;
  width: 5px;
  height: 95%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.timeline-item {
  width: 100%;
  margin-bottom: 70px;
}
.timeline-item:nth-child(even) .timeline-content {
  float: right;
  padding: 40px 30px 10px 30px;
}
.timeline-item:nth-child(even) .timeline-content .date {
  right: auto;
  left: 0;
}
.timeline-item:nth-child(even) .timeline-content::after {
  content: "";
  position: absolute;
  border-style: solid;
  width: 0;
  height: 0;
  top: 30px;
  left: -15px;
  border-width: 10px 15px 10px 0;
  border-color: transparent #f5f5f5 transparent transparent;
}
.timeline-item::after {
  content: "";
  display: block;
  clear: both;
}

.timeline-content {
  position: relative;
  width: 45%;
  padding: 10px 30px;
  border-radius: 4px;
  background: #f5f5f5;
  box-shadow: 0 20px 25px -15px rgba(0, 0, 0, 0.3);
}
.timeline-content::after {
  content: "";
  position: absolute;
  border-style: solid;
  width: 0;
  height: 0;
  top: 30px;
  right: -15px;
  border-width: 10px 0 10px 15px;
  border-color: transparent transparent transparent #f5f5f5;
}

.timeline-img {
  width: 30px;
  height: 30px;
  background: #3F51B5;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  margin-top: 25px;
  margin-left: -15px;
}

.timeline-contenta {
  background: #3F51B5;
  color: #FFFFFF;
  padding: 8px 20px;
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 20px;
  margin-top: 10px;
  display: inline-block;
  border-radius: 2px;
  box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.6);
}
a:hover, a:active, a:focus {
  background: #32408f;
  color: #FFFFFF;
  text-decoration: none;
}

.timeline-card {
  padding: 0 !important;
}
.timeline-card p {
  padding: 0 20px;
}
.timeline-card a {
  margin-left: 20px;
}

.timeline-item .timeline-img-header {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("https://picsum.photos/1000/800/?random") center center no-repeat;
  background-size: cover;
}


/* 活動_日立製作所 */
.timeline-img-hitachi {
  position: relative;
  margin-bottom: 20px;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("../image/hitachi.JPG") center center no-repeat;
  background-size: cover;
  height: 250px;
  width: 100%;
}
.timeline-img-hitachi h2 {
  color: #FFFFFF;
  position: absolute;
  bottom: 5px;
  left: 20px;
}

/* 活動_LINE */
.timeline-img-LINE {
  position: relative;
  margin-bottom: 20px;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("../image/line.JPG") center center no-repeat;
  background-size: cover;
  height: 250px;
  width: 100%;
}
.timeline-img-LINE h2 {
  color: #FFFFFF;
  position: absolute;
  bottom: 5px;
  left: 20px;
}

/* 活動_coconala */
.timeline-img-coconala {
  position: relative;
  margin-bottom: 20px;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("../image/coconala.JPG") center center no-repeat;
  background-size: cover;
  height: 250px;
  width: 100%;
}
.timeline-img-coconala h2 {
  color: #FFFFFF;
  position: absolute;
  bottom: 5px;
  left: 20px;
}

/* 活動_nttdocomo */
.timeline-img-nttdocomo {
  position: relative;
  margin-bottom: 20px;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("../image/nttdocomo.JPG") center center no-repeat;
  background-size: cover;
  height: 250px;
  width: 100%;
}
.timeline-img-nttdocomo h2 {
  color: #FFFFFF;
  position: absolute;
  bottom: 5px;
  left: 20px;
}

/* 活動_benesse */
.timeline-img-benesse {
  position: relative;
  margin-bottom: 20px;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("../image/benesse.JPG") center center no-repeat;
  background-size: cover;
  height: 250px;
  width: 100%;
}
.timeline-img-benesse h2 {
  color: #FFFFFF;
  position: absolute;
  bottom: 5px;
  left: 20px;
}

/* 活動_nttdata */
.timeline-img-nttdata {
  position: relative;
  margin-bottom: 20px;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("../image/nttdata.JPG") center center no-repeat;
  background-size: cover;
  height: 250px;
  width: 100%;
}
.timeline-img-nttdata h2 {
  color: #FFFFFF;
  position: absolute;
  bottom: 5px;
  left: 20px;
}

/* 活動_fujitsu */
.timeline-img-fujitsu {
  position: relative;
  margin-bottom: 20px;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("../image/fujitsu.JPG") center center no-repeat;
  background-size: cover;
  height: 250px;
  width: 100%;
}
.timeline-img-fujitsu h2 {
  color: #FFFFFF;
  position: absolute;
  bottom: 5px;
  left: 20px;
}

/* 活動_asahi */
.timeline-img-asahi {
  position: relative;
  margin-bottom: 20px;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("../image/asahi.JPG") center center no-repeat;
  background-size: cover;
  height: 250px;
  width: 100%;
}
.timeline-img-asahi h2 {
  color: #FFFFFF;
  position: absolute;
  bottom: 5px;
  left: 20px;
}

/* 活動_trendmicro */
.timeline-img-trendmicro {
  position: relative;
  margin-bottom: 20px;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("../image/trendmicro.JPG") center center no-repeat;
  background-size: cover;
  height: 250px;
  width: 100%;
}
.timeline-img-trendmicro h2 {
  color: #FFFFFF;
  position: absolute;
  bottom: 5px;
  left: 20px;
}

/* 活動_capcom */
.timeline-img-capcom {
  position: relative;
  margin-bottom: 20px;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("../image/capcom.JPG") center center no-repeat;
  background-size: cover;
  height: 250px;
  width: 100%;
}
.timeline-img-capcom h2 {
  color: #FFFFFF;
  position: absolute;
  bottom: 5px;
  left: 20px;
}

/* 活動_recruit */
.timeline-img-recruit {
  position: relative;
  margin-bottom: 20px;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("../image/recruit.JPG") center center no-repeat;
  background-size: cover;
  height: 250px;
  width: 100%;
}
.timeline-img-recruit h2 {
  color: #FFFFFF;
  position: absolute;
  bottom: 5px;
  left: 20px;
}

/* 活動_hakuhodo */
.timeline-img-hakuhodo {
  position: relative;
  margin-bottom: 20px;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("../image/hakuhodo.JPG") center center no-repeat;
  background-size: cover;
  height: 250px;
  width: 100%;
}
.timeline-img-hakuhodo h2 {
  color: #FFFFFF;
  position: absolute;
  bottom: 5px;
  left: 20px;
}

/* 活動_enjapan */
.timeline-img-enjapan {
  position: relative;
  margin-bottom: 20px;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("../image/enjapan.JPG") center center no-repeat;
  background-size: cover;
  height: 250px;
  width: 100%;
}
.timeline-img-enjapan h2 {
  color: #FFFFFF;
  position: absolute;
  bottom: 5px;
  left: 20px;
}
/* 活動_kddi */
.timeline-img-kddi {
  position: relative;
  margin-bottom: 20px;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("../image/kddi.JPG") center center no-repeat;
  background-size: cover;
  height: 250px;
  width: 100%;
}
.timeline-img-kddi h2 {
  color: #FFFFFF;
  position: absolute;
  bottom: 5px;
  left: 20px;
}
blockquote {
  margin-top: 30px;
  color: #757575;
  border-left-color: #3F51B5;
  padding: 0 20px;
}

.date {
  background: #FF4081;
  display: inline-block;
  color: #FFFFFF;
  padding: 10px;
  position: absolute;
  top: 0;
  right: 0;
}

@media screen and (max-width: 768px) {
  .timeline::before {
    left: 50px;
  }
  .timeline .timeline-img {
    left: 50px;
  }
  .timeline .timeline-content {
    max-width: 100%;
    width: auto;
    margin-left: 70px;
  }
  .timeline .timeline-item:nth-child(even) .timeline-content {
    float: none;
  }
  .timeline .timeline-item:nth-child(odd) .timeline-content::after {
    content: "";
    position: absolute;
    border-style: solid;
    width: 0;
    height: 0;
    top: 30px;
    left: -15px;
    border-width: 10px 15px 10px 0;
    border-color: transparent #f5f5f5 transparent transparent;
  }
}

header a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.footer{
  margin:0;
  padding:0;
  min-width:100%;
  display:block;
  height:100%;
}
.footer_inside {
  list-style-type: none;
  background-color: #333;
  vertical-align:top;
}
.footer_inside p{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}