@import url("https://fonts.googleapis.com/css?family=Poppins");
html {
  scroll-behavior: smooth;
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333;
  text-align:center;
  display: flex;
  justify-content: center;
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 0%;
  height: 3px;
  background-color: #e2e2e2;
}

header a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}



.logo {
  color: #e2e2e2;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
}
.logo a {
  text-decoration: none;
  color: #e2e2e2;
  font-weight: bold;
}

.nav-links {
  display: flex;
  width: 45%;
  justify-content: space-between;
}
.nav-links li {
  list-style: none;
}
.nav-links a {
  color: #e2e2e2;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
  position: relative;
  padding-bottom: 2px;
}
.nav-links a:hover, .nav-links a:focus {
  color: #afafaf;
}
.nav-links a::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 100%;
  left: 0;
  bottom: 0;
  background-color: #afafaf;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 300ms ease-in-out;
}
.nav-links a:hover::after, .nav-links a:focus::after {
  transform: scaleX(1);
  transform-origin: left;
}

.burger {
  display: none;
}
.burger div {
  width: 25px;
  height: 3px;
  background-color: #e2e2e2;
  margin: 5px;
  transition: all 300ms ease-in-out;
}

.landing-page {
  height: 30vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("background.jpg");
  background-position: bottom;
  background-color: #666;
  background-size: cover;
  background-blend-mode: multiply;
  color: #e2e2e2;
}
.landing-page a {
  color: #e2e2e2;
  text-decoration: none;
  position: absolute;
  bottom: 5vh;
}
.landing-page a span {
  position: absolute;
  bottom: 12vh;
  left: 50%;
  margin-left: -8px;
  width: 16px;
  height: 16px;
  border-left: 2px solid #e2e2e2;
  border-bottom: 2px solid #e2e2e2;
  transform: rotate(-45deg);
  animation: homescroll 2s infinite;
  opacity: 0;
}
.landing-page a span:nth-of-type(1) {
  animation-delay: 0s;
}
.landing-page a span:nth-of-type(2) {
  bottom: 9vh;
  animation-delay: 0.15s;
}
.landing-page a span:nth-of-type(3) {
  bottom: 6vh;
  animation-delay: 0.3s;
}
@keyframes homescroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.typewriter-text-container {
  margin-top: 12vh;
}

.landing-page-text {
  font-family: monospace;
  font-size: 3rem;
  color: #e2e2e2;
}

.blink {
  color: #e2e2e2;
  animation: blink 0.5s infinite;
}

@keyframes blink {
  to {
    opacity: 0;
  }
}
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

@media screen and (max-width: 960px) {
  body {
    overflow-x: hidden;
  }

  .nav-links {
    position: absolute;
    right: 0px;
    height: 88vh;
    top: 12vh;
    background-color: #131313;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transform: translatex(100%);
    transition: transform 500ms ease-in-out;
    z-index: 999;
  }
  .nav-links li {
    opacity: 0;
  }

  .burger {
    display: initial;
    cursor: pointer;
  }
}
.nav-active {
  transform: translatex(0%);
}

@keyframes navlinkFade {
  from {
    opacity: 0;
    transform: translatex(50px);
  }
  to {
    opacity: 1;
    transform: translatex(0);
  }
}
.home-card-wrapper {
  width: 100%;
  background-color: #afafaf;
}

.home-card-container {
  max-width: 75rem;
  margin: auto;
  padding: 32px;
  display: flex;
  gap: 60px;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}
.home-card-container > * {
  flex-grow: 1;
  flex-basis: 0;
}

.home-card {
  display: flex;
  flex-direction: column;
  min-width: 15rem;
  max-width: calc(12.5rem + 13vw);
  background-color: #e2e2e2;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 0.25em 0.6em #0005, 0 0.65em 1em #0004;
  transition: transform 300ms ease;
}
.home-card:hover, .home-card:focus-within {
  transform: scale(1.05);
}
.home-card img {
  display: block;
  max-width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  height: auto;
}
.home-card .home-card-body h3 {
  padding-block: 16px;
  text-align: center;
  font-size: 1.5rem;
}
.home-card .home-card-body p {
  padding-inline: 16px;
  padding-block: 0 16px;
  text-align: center;
  line-height: 1.3;
  font-style: italic;
}
.home-card .home-card-body a {
  text-decoration: none;
  color: white;
  outline: none;
  display: block;
  margin: 0 auto 16px auto;
  width: fit-content;
  text-align: center;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition: background-color 300ms ease;
  background-color: #666;
}
.home-card .home-card-body a:hover, .home-card .home-card-body a:focus {
  background-color: #131313;
}

.footer{
  margin:0;
  padding:0;
  min-width:100%;
  display:block;
  height:100%;
}
.footer_inside {
  list-style-type: none;
  background-color: #333;
  vertical-align:top;
}
.footer_inside p{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}